.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  border-radius: 8px;
  background-color: var(--background-color);
  overflow: hidden;
}

.cards .cards-card-body {
  margin: 16px;
}

/* 4行まで表示して省略 */
.cards .cards-card-body p,
.cards .cards-card-body div {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  margin: 0 0 8px 0;
}

.cards .cards-card-body *:last-child {
  margin-bottom: 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
